/* TODO: rename these classes for accuracy */

.container {
  position: fixed;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.pageAside {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--fg-color);
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  border: 1px solid lightgrey;
}

.divider {
  border: .5px solid #000;
  height: 60%;
  width: fit-content;
  color: red;
}

.action {
  position: relative;
  border-radius: 25%;
  border: 2px solid var(--fg-color-6);
  width: 3.5em;
  height: 3.5em;
  display: flex;
  text-decoration: none !important;
  user-select: none;
  cursor: pointer;
  line-height: 100%;
}

.actionBg p {
  font-size: 1.75em;
}

.actionBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: all .2s ease-in-out;
}

.actionBg:hover {
  transform: scale(1.3); 
}

.actionBg svg {
  width: 50%;
  height: 50%;
  fill: var(--fg-color-6);
}

.actionBgPane {
  border-radius: 20%;
}

.action:hover .actionBgPane {
  width: 100%;
  height: 100%;
}

.action svg {
  fill: var(--bg-color);
}

/* * formerly filled color of the box on hover - we want a different kind of interaction here like a raise or enlargement */
/* .twitter .actionBgPane {
  background: #2795e9;
} */

.twitter {
  background: #2795e9;
  border-color: #2795e9;
}

.linkedin {
  background: #0077b5;
  border-color: #0077b5;
}

.github {
  background: #c9510c;
  border-color: #c9510c;
}

.home, .about, .writing, .projects, .resume, .media {
  background: #E6D7C7;
  border-color: #E6D7C7;
}