/* TODO: rename these classes for accuracy */

.container {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.pageAside {
  width: fit-content;
  height: 100%;
  padding: 0 2vw 0 2vw;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--fg-color);
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  border: 1px solid lightgrey;
  overflow-x: scroll;
}

.divider {
  border: .5px solid #000;
  height: 60%;
  width: fit-content;
  color: red;
}

.action {
  position: relative;
  border-radius: 25%;
  border: 2px solid var(--fg-color-6);
  width: 3.5em;
  height: 3.5em;
  display: flex;
  text-decoration: none !important;
  user-select: none;
  cursor: pointer;
  line-height: 100%;
  justify-content: center;
}

.social p,
.page p {
  font-size: 1.75em;
}

.social,
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: all .2s ease-in-out;
}

.social:hover,
.page:hover {
  transform: scale(1.3);
}

/* * svgs for socials logos */
.social svg {
  width: 50%;
  height: 50%;
  fill: var(--fg-color-6);
}

.socialPane,
.pagePane {
  border-radius: 20%;
}

.action:hover .socialPane,
.action:hover .pagePane {
  width: 100%;
  height: 100%;
}

.action svg {
  fill: var(--bg-color);
}

/* * formerly filled color of the box on hover - we want a different kind of interaction here like a raise or enlargement */
/* .twitter .pagePane {
  background: #2795e9;
} */

.twitter {
  background: #2795e9;
  border-color: #2795e9;
}

.linkedin {
  background: #0077b5;
  border-color: #0077b5;
}

.github {
  background: #c9510c;
  border-color: #c9510c;
}

.home, .about, .writing, .projects, .resume, .media, .art {
  background: #E6D7C7;
  border-color: #E6D7C7;
}

.activeRoute .action::after {
  /* font-size: 2em !important;
  font-weight: bold;
  margin: 0 auto;
  text-align: center; */

  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
  content: "";
  bottom: 2px;
  margin-bottom: -12px;
  /* padding: 5px; */
}

/* TODO: get rid of this */
/* .siteLinkContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
} */

.page p {
  color: black !important;
}