/*
  * dock's parent container
  * set to 100% the width of body, the parent element
*/
.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  bottom: 2vh;
}

/* * the outer siteOS dock container */
.dockOuter {
  display: flex;
  height: 100%;
  margin: 0 10px 0 10px;
  border-radius: 25px;
  color: var(--fg-color);
  backdrop-filter: blur(10px);
  border: 1px solid lightgrey;
  padding: 0 2vw 0 2vw;
  overflow-x: hidden;
}

/*
  * the inner siteOS dock container
  * prevents the scrollbar from overflowing the dock in general
*/
.dockInner {
  display: flex;
  width: 100%;
  border-radius: 25px;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
}

/* * divider that separates sitePaths from socialLinks */
.divider {
  border: .5px solid #000;
  height: 60%;
  width: fit-content;
  color: red;
}

.action {
  position: relative;
  border-radius: 25%;
  border: 2px solid var(--fg-color-6);
  width: 3.5em;
  height: 3.5em;
  display: flex;
  text-decoration: none !important;
  user-select: none;
  cursor: pointer;
  line-height: 100%;
  justify-content: center;
}

.social p,
.page p {
  font-size: 1.75em;
}

.social,
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: all .2s ease-in-out;
}

.social:hover,
.page:hover {
  transform: scale(1.3);
}

/* * svgs for socials logos */
.social svg {
  width: 50%;
  height: 50%;
  fill: var(--fg-color-6);
}

.socialPane,
.pagePane {
  border-radius: 20%;
}

.action:hover .socialPane,
.action:hover .pagePane {
  width: 100%;
  height: 100%;
}

.action svg {
  fill: var(--bg-color);
  stroke: black;
}

.twitter:hover {
  background: #2795e9;
  border-color: #2795e9;
}

.linkedin:hover {
  background: #0077b5;
  border-color: #0077b5;
}

.github:hover {
  background: #c9510c;
  border-color: #c9510c;
}

.home, .about, .writing, .projects, .resume, .media, .art,
.twitter, .github, .linkedin {
  background: white;
  border-color: darkgrey;
}

.home:hover,
.about:hover,
.writing:hover,
.projects:hover,
.resume:hover,
.media:hover,
.art:hover {
  background: #DEE1E3;
  border-color: #DEE1E3;
}

.activeRoute .action::after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
  content: "";
  bottom: 2px;
  margin-bottom: -12px;
}

/* * greyscales the emojis for site routes in siteOS docks */
.siteLinkIcon {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.action:hover .siteLinkIcon {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.action:hover svg {
  stroke: none;
}