@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://api.fontshare.com/css?f[]=cabinet-grotesk@400,800&f[]=general-sans@500&display=swap");

.notion-collection-header {
  border-top: 1px solid rgba(55, 53, 47, 0.16);
  border-bottom: none !important;
}

.notion-gallery-grid {
  border-top: 1px solid rgba(55, 53, 47, 0.16);
}

.notion-gallery-grid-size-medium {
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 300px !important;
  height: 500px !important;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.notion-gallery-grid-size-medium > a {
  width: 100% !important;
}

.notion-collection-column-title {
  display: none !important;
}

.notion-collection-row {
  margin-top: -10px;
}

.notion-collection-card-property:not(:first-child) {
  white-space: normal !important;
}

.notion-property-text {
  font-family: 'Lato', sans-serif;
}

/* page metadata for a notion collection item (e.g. a sub-page of a page, like essays) */
.notion-collection-row-value span.notion-property.notion-property-text {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
}

.notion-collection-card-body {
  width: 100% !important;
}

.spotify-card {
  aspect-ratio: 1/1 !important;
}

.spotify-card-image {
  min-width: 100% !important;
}

.spotify-data-rendered {
  width: 75%;
}