/* 
  * CSS to manage responsive screen styles.
*/

@media screen and (min-width: 1025px) and (max-width: 1549px) {
  .notion-page {
    width: 60% !important;
  }

  .spotify-data-rendered {
    width: 60% !important;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1350px) {
  .notion-page-cover {
    width: 80% !important;
  }
  .notion-page-cover-wrapper span, .notion-page-cover-wrapper img {
    width: 80% !important;
  }
}

@media screen and (min-width: 1351px) {
  .notion-page-cover {
    width: 80% !important;
    max-width: 1900px;
    height: 35vh !important;
    max-height: 35vh !important;
  }
  .notion-page-cover-wrapper span, .notion-page-cover-wrapper img {
    width: 80% !important;
    max-width: 1900px;
    height: 35vh !important;
    max-height: 35vh !important;
  }
}

@media screen and (min-width: 1550px) {
  .notion-page {
    width: 50% !important;
    max-width: 1000px;
  }

  .spotify-data-rendered {
    width: 50% !important;
    max-width: 1000px;
  }

  .spotify-data-rendered {
    width: 50% !important;
    max-width: 1000px;
  }
}

@media screen and (max-width: 550px) {
  .notion-gallery-grid {
    grid-template-columns: 2fr;
  }
}