/* 
  * CSS to manage responsive screen styles.
*/

/* grid gallery -- modifications for smartphone screen resolutions */
@media screen and (max-width: 550px) {
  .notion-gallery-grid {
    grid-template-columns: 2fr;
  }

  .notion-page-cover {
    height: 20vh !important;
    min-height: 20vh !important;
    max-height: 20vh !important;
  }

  .notion-page-cover-wrapper span, .notion-page-cover-wrapper img, .notion-page-cover-wrapper {
    height: 20vh !important;
    min-height: 20vh !important;
    max-height: 20vh !important;
  }

  .notion-title { font-size: 3em !important; }

  .notion-collection {
    width: 90%;
  }

  span.notion-page-title-text {
    font-size: 1em;
  }
}

@media screen and (max-width: 650px) {
  .notion-list-item-body {
    display: none;
  }
}

/* * accommodates large smartphones -> small tablets */
@media screen and (min-width: 551px) and (max-width: 799px) {
  .notion-title {
    font-size: 3.5em !important;
  }
}

/* * accommodates smartphones -> tablets */
@media screen and (max-width: 800px) {
  .notion-page {
    width: 90% !important;
    padding-top: 30px !important;
  }

  .back-arrow-container,
  .spotify-data-rendered {
    width: 90% !important;
  }

  .notion-h {
    font-size: 1.5em !important;
  }

  .notion-text,
  li,
  .notion-quote,
  summary {
    font-size: 1em !important;
  }
}

/* * accommodates small computer screens */
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .notion-page,
  .back-arrow-container,
  .spotify-data-rendered {
    width: 80% !important;
  }

  .notion-text,
  li,
  .notion-quote,
  summary {
    font-size: 1.1em !important;
  }

  .notion-title {
    font-size: 3.5em !important;
  }
}

/* * accommodates mid/large computer screens -> smaller monitors */
@media screen and (min-width: 1025px) and (max-width: 1549px) {
  .notion-page,
  .back-arrow-container,
  .spotify-data-rendered {
    width: 60% !important;
  }

  .notion-title {
    font-size: 5em !important;
  }
}

/* page cover -- implement smaller fit on smartphones -> tablets -> smaller computers */
@media screen and (max-width: 1249px) {
  .notion-page-cover-wrapper span, .notion-page-cover-wrapper img {
    width: 90% !important;
  }
}

/* page cover -- implement smaller fit on larger computer screens */
@media screen and (min-width: 1250px) and (max-width: 1350px) {
  .notion-page-cover,
  .notion-page-cover-wrapper span,
  .notion-page-cover-wrapper img {
    width: 80% !important;
  }
}

/* page cover -- implement smaller width, and margin + height readjustments for larger screens */
@media screen and (min-width: 1351px) {
  .notion-page-cover,
  .notion-page-cover-wrapper span,
  .notion-page-cover-wrapper img {
    width: 80% !important;
    max-width: 1900px;
    height: 35vh !important;
    max-height: 35vh !important;
  }
}

/* * accommodates mid/large size monitors -> ... */
@media screen and (min-width: 1550px) {
  .notion-page,
  .back-arrow-container,
  .spotify-data-rendered {
    width: 50% !important;
    max-width: 1000px;
  }
}