@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://api.fontshare.com/css?f[]=cabinet-grotesk@400,800&f[]=clash-grotesk@400&display=swap");

summary,
.notion-text,
li,
.notion-quote {
  font-size: 1.2em;
}

/* <p> blocks */
.notion-text {
  /* font-family: 'Clash Grotesk', sans-serif; */
  font-family: 'Lato', sans-serif;
  margin: 5px !important;
}

/* styling for every child of the <details> notion toggle element */
details > * {
  font-family: 'Lato', sans-serif !important;
}

.notion-asset-caption {
  font-family: 'Lato', sans-serif;
}

/* page titles */
.notion-title {
  color: black;
  font-size: 6em;
  font-family: 'Cabinet Grotesk', sans-serif;
  letter-spacing: .01rem;
  margin-top: -10px;
  display: flex !important;
}

.notion-page {
  width: 75%;
}

.notion-page-no-cover {
  margin-top: 20px !important;
}

.notion-page-icon-wrapper {
  justify-content: left;
  width: fit-content;
  display: none;
}

.notion-page-icon-wrapper {
  z-index: 2;
}

.notion-header {
  display: none;
}

.notion-list > li {
  font-family: 'Lato', sans-serif;
}

figcaption {
  color: darkslategrey !important;
  font-family: 'Lato', sans-serif;
}

/* page cover images */
.notion-page-cover {
  width: 90%;
  border-radius: 24px;
  object-fit: cover;
  display: block;
}

/* makes sure that list collection multiselect properties don't wrap onto newline */
.notion-property-multi_select {
  flex-wrap: nowrap !important;
}

.notion-h {
  font-family: 'Cabinet Grotesk', sans-serif;
  letter-spacing: .01rem;
}

.notion-page-scroller {
  margin-top: 30px;
}

/* styling for bookmark images -- make sure they render in full */
.notion-bookmark-image {
  width: 100%;
  height: 100%;
}

/* formatting for spotify data -- match centering + padding of .notion-page */
.spotify-data-rendered {
  margin: 0 auto;
  padding-left: calc(min(16px, 8vw));
  padding-right: calc(min(16px, 8vw));
}

/* match spotify header to notion page headers */
.spotify-header {
  color: rgb(55, 53, 47);
  margin-left: 3px;
}

.spotify-card {
  width: fit-content !important;
  margin-bottom: 30px;
}
