@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lato");

/* <p> blocks */
.notion-text {
  font-family: Lato;
  font-size: 1.1em;
}

/* styling for every child of the <details> notion toggle element */
details > * {
  font-family: Lato;
}

.sidebar {
  display: none;
}

.notion-collection-header {
  /* display: none; */
  border-top: 1px solid rgba(55, 53, 47, 0.16);
  border-bottom: none !important;
}

.notion-gallery-grid {
  /* border-top: none !important; */
  border-top: 1px solid rgba(55, 53, 47, 0.16);
}

.notion-list-view {
  /* border-top: none !important; */
}

.notion-gallery-grid-size-medium {
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 300px !important;
  height: 500px !important;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.notion-gallery-grid-size-medium > a {
  width: 100% !important;
}

/* page titles */
.notion-title {
  color: black;
  font-size: 3em;
  /* font-weight: 900; */
  /* font-family: Montserrat; */
}

.notion-page {
  width: 75%;
  /* TODO: set max-width in px so page content isn't too wide on monitor screens */
}

.notion-collection-row {
  margin-top: -10px;
}

.notion-page-icon-wrapper {
  /* border: 1px solid red; */
  justify-content: left;
  width: fit-content;
  /* display: none; */
}

.notion-title {
  display: flex !important;
}

.notion-bookmark {
  width: 80% !important;
  margin: 0 auto;
}

.notion-page-icon-wrapper {
  /* background-color: green; */
  z-index: 2;
}

.notion-header {
  margin-left: 4%;
}

.notion-property-text {
  font-family: Lato;
}

figcaption {
  color: darkslategrey !important;
  font-family: Lato;
}

/* page cover images */
.notion-page-cover {
  width: 90%;
  border-radius: 24px;
  object-fit: cover;
  display: block;
  /* TODO: adjust this styling for bigger monitor screens */
}

.notion-collection-column-title {
  display: none !important;
}

/* page metadata for a notion collection item (e.g. a sub-page of a page, like essays) */
.notion-collection-row-value span.notion-property.notion-property-text {
  font-size: 2em;
  font-family: Lato;
}
